.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button:hover {
  color: var(--chakra-colors-red-500);
  background-color: var(--chakra-colors-red-500 / 10%);
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.95);
}

.favorited {
  color: var(--chakra-colors-red-500);
}

.notFavorited {
  color: var(--chakra-colors-fg-muted);
}
